$columnWidth: 100% /12;
.grid_container {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  .row {
    &:before,
    &:after {
      content: "";
      display: table;
      clear: both;
    }
    [class*="col-"] {
      float: left;
      min-height: 1px;
      border: 1px solid red;
      // padding: 10px;
    }
    @for $i from 1 through 12 {
      .col-#{$i} {
        width: $columnWidth * $i;
      }
    }
  }
}
